.IDE {
  margin-top: 5px;
}
.IDE > ul {
  margin-bottom: 0;
}
.IDE > ul li:first-child {
  margin-left: 5px;
}
.IDE .drag-handle {
  height: 5px;
  background: #ccc;
}
.IDE .REPL .replCol {
  width: 32%;
  margin-right: 1%;
  text-align: right;
}
.IDE .REPL .replCol .output {
  width: 98%;
}
.IDE .REPL .replCol .input {
  width: 100%;
}
.IDE .REPL .env,
.IDE .REPL .state {
  margin-right: 1%;
  width: 32%;
  border: 1px solid #ccc;
  height: 100%;
}
.popover-inner {
  width: 180px;
}
.popover-inner h3 {
  display: none;
}
.popover-content {
  border-radius: 3px;
}
.browser {
  background: #fefefe;
  overflow: hidden;
  padding: 10px;
  height: 300px;
  z-index: 999;
}
.browser .packageList,
.browser .classList,
.browser .slotList {
  margin-right: 10px;
  float: left;
  height: 90%;
}
.browser .packageList .buttons,
.browser .classList .buttons,
.browser .slotList .buttons {
  margin-bottom: 5px;
}
.browser .packageList .buttons .btn,
.browser .classList .buttons .btn,
.browser .slotList .buttons .btn {
  margin-right: 5px;
}
.browser .packageList h2,
.browser .classList h2,
.browser .slotList h2 {
  line-height: 33px;
}
.browser .packageList > ul,
.browser .classList > ul,
.browser .slotList > ul,
.browser .packageList .tab-content > ul,
.browser .classList .tab-content > ul,
.browser .slotList .tab-content > ul {
  min-width: 150px;
  margin: 0;
  height: 100%;
  background: #fff;
  list-style-type: none;
  padding: 0;
  float: left;
  width: 100%;
  overflow: auto;
  overflow-x: none;
}
.browser .packageList > ul li,
.browser .classList > ul li,
.browser .slotList > ul li,
.browser .packageList .tab-content > ul li,
.browser .classList .tab-content > ul li,
.browser .slotList .tab-content > ul li {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  padding-left: 1em;
}
.browser .packageList > ul li.protocol,
.browser .classList > ul li.protocol,
.browser .slotList > ul li.protocol,
.browser .packageList .tab-content > ul li.protocol,
.browser .classList .tab-content > ul li.protocol,
.browser .slotList .tab-content > ul li.protocol {
  font-weight: bold;
  cursor: default;
  padding-left: 5px;
}
.browser .packageList > ul li.active,
.browser .classList > ul li.active,
.browser .slotList > ul li.active,
.browser .packageList .tab-content > ul li.active,
.browser .classList .tab-content > ul li.active,
.browser .slotList .tab-content > ul li.active {
  background: #0000ff;
  color: #fff;
}
.browser .packageList > ul,
.browser .classList > ul {
  border: 1px solid #ccc;
  margin-right: 10px;
}
.browser .classList .parentGrouping {
  font-weight: bold;
  cursor: default;
  padding-left: 5px;
}
.browser .classList li {
  padding-left: 1em;
}
.browser .slotList .tabbable {
  height: 100%;
}
.browser .slotList .tab-content {
  background: #fff;
  height: 85%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.browser .slotList .nav-tabs {
  margin-right: 10px;
}
.browser .slotList .nav-tabs a {
  cursor: pointer;
}
.browser pre.output {
  border-radius: 0;
  float: right;
  width: 500px;
  margin-left: 10px;
  overflow: auto;
  margin-bottom: 10px;
}
.browser .slotEditor {
  height: 94%;
}
.browser .slotEditor pre.output.error {
  border: 1px solid #ff0000;
}
.browser .slotEditor pre.output.collapsed {
  width: 0px;
  color: whiteSmoke;
  overflow: hidden;
}
.browser .slotEditor .buttons {
  margin-bottom: 5px;
}
.browser .slotEditor .buttons .btn {
  margin-right: 5px;
}
.browser .slotEditor .CodeMirror-scroll {
  border: 1px solid #ccc;
}
.browser .slotEditor input.slotName {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 13px;
  padding: 4px;
  line-height: 18px;
  margin-right: 5px;
}
pre.TODO {
  background: #fefefe;
  border-top: 0;
  border-radius: 0;
}
