.IDE {
  margin-top: 5px;
}
.IDE > ul {
  margin-bottom: 0;
}
.IDE > ul li:first-child {
  margin-left: 5px;
}
.popover-inner {
  width: 180px;
}
.popover-inner h3 {
  display: none;
}
.popover-content {
  border-radius: 3px;
}
.browser {
  border-bottom: 1px solid #333;
  background: #fefefe;
  overflow: hidden;
  padding: 10px;
  height: 300px;
  z-index: 999;
}
.browser .packageList,
.browser .classList,
.browser .methodList {
  float: left;
  height: 90%;
}
.browser .packageList .buttons,
.browser .classList .buttons,
.browser .methodList .buttons {
  margin-bottom: 5px;
}
.browser .packageList .buttons .btn,
.browser .classList .buttons .btn,
.browser .methodList .buttons .btn {
  margin-right: 5px;
}
.browser .packageList h2,
.browser .classList h2,
.browser .methodList h2 {
  line-height: 33px;
}
.browser .packageList > ul,
.browser .classList > ul,
.browser .methodList > ul,
.browser .packageList .tab-content > ul,
.browser .classList .tab-content > ul,
.browser .methodList .tab-content > ul {
  min-width: 150px;
  margin: 0;
  height: 100%;
  background: #fff;
  list-style-type: none;
  padding: 0;
  float: left;
}
.browser .packageList > ul li,
.browser .classList > ul li,
.browser .methodList > ul li,
.browser .packageList .tab-content > ul li,
.browser .classList .tab-content > ul li,
.browser .methodList .tab-content > ul li {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  padding-left: 1em;
}
.browser .packageList > ul li.protocol,
.browser .classList > ul li.protocol,
.browser .methodList > ul li.protocol,
.browser .packageList .tab-content > ul li.protocol,
.browser .classList .tab-content > ul li.protocol,
.browser .methodList .tab-content > ul li.protocol {
  font-weight: bold;
  cursor: default;
  padding-left: 5px;
}
.browser .packageList > ul li.active,
.browser .classList > ul li.active,
.browser .methodList > ul li.active,
.browser .packageList .tab-content > ul li.active,
.browser .classList .tab-content > ul li.active,
.browser .methodList .tab-content > ul li.active {
  background: #0000ff;
  color: #fff;
}
.browser .packageList > ul,
.browser .classList > ul {
  border: 1px solid #ccc;
  margin-right: 10px;
}
.browser .classList .parentGrouping {
  font-weight: bold;
  cursor: default;
  padding-left: 5px;
}
.browser .classList li {
  padding-left: 1em;
}
.browser .methodList .tabbable {
  height: 100%;
}
.browser .methodList .tab-content {
  background: #fff;
  height: 85%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.browser .methodList .nav-tabs {
  margin-right: 10px;
}
.browser .methodList .nav-tabs a {
  cursor: pointer;
}
.browser pre.output {
  border-radius: 0;
  float: right;
  width: 500px;
  height: 100%;
  margin-left: 10px;
  overflow: auto;
}
.browser .methodEditor {
  height: 94%;
}
.browser .methodEditor pre.output.error {
  border: 1px solid #ff0000;
}
.browser .methodEditor pre.output.collapsed {
  width: 0px;
  color: whiteSmoke;
  overflow: hidden;
}
.browser .methodEditor .CodeMirror-scroll {
  border: 1px solid #ccc;
}
pre.TODO {
  background: #fefefe;
  border-top: 0;
  border-radius: 0;
}
